.main-container {
  font-size: 20px;
  width: 100%;
  background: white;
  display: grid;
  /* justify-content: center; */
  /* text-align: center; */
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 50px 100px 80vh 50px;
  grid-template-areas:
    '. .'
    'search search'
    'filters restaurants'
    'filters restaurants'
    'filters restaurants';
}

.search-bar-container {
  grid-area: search;
  /* margin: 0 20px; */
  /* justify-content: center; */
  /* text-align: center; */
}

.restaurant-container {
  grid-area: restaurants;
  justify-self: center;
}

.filter-container {
  grid-area: filters;
  justify-self: center;
}