.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.search-bar {
  width: 80%;
  height: 40px;
  font-size: 22px;
}

.submit-button {
  font-size: 22px;
  height: 45px;
  background: skyblue;
}